{% load static %}
<html>
<head>
<meta charset="utf-8">
<title>
    {% block title %}

    {% endblock title %}
</title>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
<link rel="stylesheet" href="{% static '/css/main.css' %}">

</head>
<body>
<main>

    <nav class="navbar navbar-expand-md navbar-dark bg-dark mb-5 d-flex justify-content-between">
        <a class="navbar-brand ml-4" href="{% url 'home' %}">
            {% comment %} <img src="{% static 'images/one.png'%}" alt="" class = "logo"> {% endcomment %}
            BTS electronics</a>

        {% if user.is_authenticated %}
            <ul class="navbar-nav mr-auto">
                <li> <a href="{% url 'technicianList' %}" class = "btn btn-secondary">Technician List</a></li> &ThickSpace;&ThickSpace;
                <li> <a href="{% url 'order' %}" class = "btn btn-secondary" >My Order</a></li>&ThickSpace;&ThickSpace;
                <li> <a href="{% url 'deviceList' %}" class = "btn btn-secondary" >Fix My Device</a></li>&ThickSpace;&ThickSpace;
                <li> <a href="{% url 'feedback' %}" class = "btn btn-secondary" >Feedback</a></li>&ThickSpace;&ThickSpace;
            </ul>
            <a href="{% url 'logout' %}">logout</a>
        {% endif %}


        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarCollapse">
            {% if user.is_authenticated %}
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link dropdown-toggle" href="#" id="userMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            {{ user.username }}
                        </a>
                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="userMenu">
                            <a class="dropdown-item" href="{% url 'password_change'%}">Change password</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="{% url 'logout' %}">Log Out</a>
                        </div>
                    </li>
                </ul>

            {% else %}
                <form class="form-inline ml-auto">
                    <a href="{% url 'login' %}" class="btn btn-outline-secondary">Log In</a>
                    <a href="{% url 'signup-pre' %}" class="btn btn-primary ml- ">Sign up</a>
                </form>

            {% endif %}
        </div>
    </nav>

    <div class="container">
        {% block content %}
        {% endblock content %}
    </div>

</main>

<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</body>
</html>