{% extends 'base.html' %}

{% block title %}Sign Up{% endblock title %}
{% load crispy_forms_tags %}

{% block content %}

    
    <form method="post" enctype="multipart/form-data">{% csrf_token %}
        {% for field in form %}
            <div class="fieldWrapper">
                <p class = ""> {{ field.errors }} <p>
                {{ field.label_tag }} {{ field }}
                {% if field.help_text %}
                <p class="help">{{ field.help_text|safe }}</p>
                {% endif %}
            </div> 
            {% comment %} {{form}} {% endcomment %}
        {% endfor %}
        <button class="btn btn-success ml-4" type="submit">Sign Up</button>
    </form>
    
{% endblock content %}